LLAMA_8B__API_BASE_URL = http://localhost:11434
LLAMA_8B__LLM_MODEL = llama3:8b

# This parameter is used in some algorithms where the model may get its response incorrectly.
# Max retries will determine how many times the algorithm will retry its call to the llm
LLAMA_8B__MAX_RETRIES = 10

# If your llm requires an api key, you can set it here. Otherwise, you can leave it blank or comment it out
GPT_OSS_20B__API_KEY = sk.....
GPT_OSS_20B__API_BASE_URL = https://....
GPT_OSS_20B__LLM_MODEL = hosted_vllm....
GPT_OSS_20B__MAX_RETRIES = 5
